html,
body {
  height: 100%;
  font-family: sans-serif;
}
.btn {
  background-color: rgb(29, 161, 242);
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid transparent;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  line-height: 1.5;
  display: inline-block;
}

.btn:hover {
  color: white;
}

.menu a {
  font-size: 13px;
  color:rgb(6,134,213);
  text-decoration: none;
}


a:visited {
  color: purple;
}

.container {
  padding: 0%;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
  max-width: 600px;
  border-left: 1px solid rgb(235, 238, 240);
  border-right: 1px solid rgb(235, 238, 240);
}
/*
Main
***************************/

.main {
  text-align: left;
}

.main .main-header {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.main-header .logo {
  width: 50px;
  margin-right: 20px;
}

.main .main-header h1 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
  font-weight: bold;
}

.content {
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.home .content .post_form {
  width: calc(100% - 80px);
  flex-grow: 1;
}

.post_form .post_img {
  padding: 5px 15px 10px 10px;
  width: 80px;
}
.post_form .post_img img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid lightgrey;
}

/*
Post
**************************/

.post_form {
  padding: 20px 40px;
  border-bottom: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  display: flex;
}

.post_form .name {
  width: 95%;
  margin-bottom: 10px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  height: 10px;
  border-radius: 5px;
  background-color: rgb(214, 250, 245);
}

.post_form textarea {
  width: 95%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border: 0px;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}
.post_form .bottom-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid rgb(235, 238, 240);
  padding-top: 8px;
}

.posts ul {
  padding: 0;
}

.block {
  height: 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: rgb(235, 238, 240);
}

.posts li {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.posts li .menu_icon {
  padding-right: 10px;
}

.posts li .menu_icon img {
  width: 20px;
  position: absolute;
  /* top: 40px; */
  right: 36vw;
}

.posts li .menu {
  display: none;
  position: absolute;
  /* top: 68px; */
  right: 36vw;
  border: 1px solid #ccc;
  background-color: whitesmoke;
  padding-right: 10px 15px;
  font-size: 13px;
  border-radius: 3px;
}

.posts li .menu a {
  text-decoration: none;
}

.posts li .logo {
  width: 80px;
  padding: 5px 15px 10px 10px;
}

.posts li .logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid lightgrey;
}

.posts li .name_body {
  flex-basis: 85%;
}

.posts li .name_body .name {
  font-weight: bold;
  font-size: 15px;
  color: black;
}

.posts li .name_body .DateTime {
  color: gray;
  padding-left: 10px;
  font-size: 14px;
}

@media screen and (max-width: 500px) {
  .posts li .name_body .name {
    font-size: 20px;
  }
}

/* Edit
**************************/

.edit-cont {
  padding: 0%;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

@media(min-width: 1400px) {
  .edit-cont {
    max-width:  1320px;
  }
}

.main-edit {
  text-align: left;
  max-width: 600px;
  width:100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.main-edit .edit-header {
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom:1px solid #ccc;
  padding: 10px;
}

.edit-post {
  display:flex;
  padding: 10px;
}


.main-edit .edit-header img {
  width: 50px;
  margin-right: 10px;

}

.main-edit .edit-header h1 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 0;
  font-weight: bold;
}

.edit-block {
  height: 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: rgb(235, 238, 240);
}

.edit-post {
  width: calc(100% - 80px);
  flex-grow: 1;
}

.edit-post .user {
  padding: 5px 15px 10px 10px;
  margin-left: 10px;
  width:80px;
}

.edit-post .user img {
  width: 50px;
  height:50px;
  border-radius: 50%;
  border: 1px solid lightgrey;
  vertical-align: middle;
}

.input-box{
  width: calc(100% - 80px);
  flex-grow: 1;
}
.edit-post .input-box .name {
  border:0px;
  width:100%;
  background: rgb(214, 250, 245);
  border-radius:5px;
  margin-bottom: 10px;
  padding:10px;
}

.edit-post .input-box .name:focus {
  outline: none;
}

.edit-post .input-box textarea {
  border:0px;
  padding: 10px;
  width:100%;
  height:100px;
  resize:none;
}

.edit-post .input-box textarea:focus {
  outline: none;
  height: 100%;
}
.edit-bottom .update {
  background-color: rgb(29, 161, 242);
  color:rgb(253, 253, 253);
  font-size: 15px;
  font-weight: bold;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid transparent;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  line-height: 1.5;
  display: inline-block;
}

.update-gray {
  color:rgb(106, 94, 94);
  background-color: rgb(183, 187, 189);
}

.update:hover {
  color: lightblue;
}
a.cancel {
  background-color: grey;
  color:white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid transparent;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  line-height: 1.5;
  display: inline-block;
}
.edit-post .input-box .edit-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top:1px solid #ccc;
  padding-top: 8px;
}
