{% extends "base.html"%} {% block content %}{% load static %}

<section class="content">
  <section class="post_form">
    <div class="post_img">
      <img src="/static/img/user_img.jpeg" class="">
    </div>
    <form action="/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" class="name" name="name" placeholder="What's your name?" required />
      <br />
      <textarea name="body" class="body" placeholder="What's on your mind?"required></textarea>
      <div class="bottom-area">
        <div class="mb-0">
          <input class="form-control form-control-sm" name="image" type="file"/>
        </div>
        <button class="btn" style="text-align: center; text-decoration: none; vertical-align: middle;" type="submit">Tweet</button>
      </div>
    </form>
  </section>
  <div class="block"></div>
  <section class="posts">
    <ul>
      {% for post in posts %}
      <li>
        <div class="menu_icon">
          <img class="menu_icon js-menu-icon" src="{% static 'img/more.png' %}"/>
        </div>
          <div class="menu">
            <a href="/delete/{{ post.id }}/">Delete</a>
            <a href="/edit/{{ post.body }}">Edit</a>
          </div>
        <div class="logo">
          <img src="/static/img/user_img.jpeg" />
        </div>
        <div class="name_body">
          <div class="name">{{ post.name }}</div>
          <div class="datetime">{{ post.created_at }}</div>
          <p>{{ post.body }}</p>
          <a href="/delete/{{ post.id }}/"></a>
          <a href="/edit/{{ post.body }}/"></a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
  <script
    src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'js/posts.js' %}"></script>
</section>

{% endblock %}
